analisis/ABCD_figs/*
!analisis/ABCD_figs/.gitkeep

analisis/CutsToDataFull/*
!analisis/CutsToDataFull/.gitkeep

analisis/EraBValidation/*
!analisis/EraBValidation/.gitkeep

analisis/fig_effs/*
!analisis/fig_effs/.gitkeep

analisis/old/

analisis/sigsigPlots/*
!analisis/sigsigPlots/.gitkeep

analisis/SSValidation/*
!analisis/SSValidation/.gitkeep

analisis/TF_evol/*
!analisis/TF_evol/.gitkeep

analisis/vars_figs/*
!analisis/vars_figs/.gitkeep

analisis/ZmassValidation/*
!analisis/ZmassValidation/.gitkeep

analisis/Histogram.py
analisis/ej_plot.py
.vscode
condor/logs
**/__pycache__
*.pyc
*.cpython-39.pyc
