# analisis/ABCD_figs/*
# analisis/CutsToDataFull/*
# analisis/EraBValidation/*
# analisis/fig_effs/*
analisis/old/
# analisis/sigsigPlots/*
# analisis/SSValidation/*
# analisis/TF_evol/*
# analisis/vars_figs/*
# analisis/ZmassValidation/*
analisis/Histogram.py
analisis/ej_plot.py
.vscode
condor/logs
**/__pycache__
*.pyc
*.cpython-39.pyc
